<div class=" table-grid">

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Customer Name</th>
        <th scope="col">Tax</th>
        <th scope="col">Sub Total</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; let i = index">
        <td><img class="item-image" [src]="order.image" alt="img"></td>
        <td><input type="text" [(ngModel)]="order.id" class="form-control" placeholder="ID"></td>
        <td><input type="text" [(ngModel)]="order.description" class="form-control" placeholder="Description"></td>
        <td><input type="text" [(ngModel)]="order.price" class="form-control" placeholder="Price"></td>
        <td><input type="text" [(ngModel)]="order.quantity" class="form-control" placeholder="Quantity"></td>
      </tr>
    </tbody>
  </table>
</div>
